# {{ ansible_managed }}

{
{% if telemt_decoy_acme_email %}
    email {{ telemt_decoy_acme_email }}
{% endif %}
    https_port {{ _telemt_decoy_port }}
{% if telemt_molecule_mode %}
    acme_ca {{ _telemt_pebble_acme_server }}
    acme_ca_root /etc/caddy/pebble-root.pem
{% endif %}
}

{{ _telemt_decoy_domain }} {
    tls {
        issuer acme {
            disable_http_challenge
        }
    }
    root * /srv
    file_server
}
