{#-
Copyright © 2025 kogeler
SPDX-License-Identifier: Apache-2.0
-#}

# Managed by Ansible

127.0.0.1       localhost
127.0.0.1       {{ init_hostname }}

{% if init_add_all_hosts %}
{% for key, value in hostvars.items() | sort %}
{% if key != inventory_hostname and value[init_hosts_ip_key] is defined and value[init_hosts_ip_key] != '' %}
{{ value[init_hosts_ip_key] }}   {{ key }}
{% endif %}
{% endfor %}
{% endif %}

{% for host in init_custom_hosts %}
{{ host.ip }}   {{ host.host }}
{% endfor %}

# The following lines are desirable for IPv6 capable hosts
::1     localhost ip6-localhost ip6-loopback
ff02::1 ip6-allnodes
ff02::2 ip6-allrouters
