{#-
Copyright © 2025 kogeler
SPDX-License-Identifier: Apache-2.0
-#}

{% for key, value in (_init_sysctl_parameters | combine(init_sysctl_parameters)) | dictsort %}
{{ key }} = {{ value }}
{% endfor %}
