[Unit]
Description=Podman container-{{ _ssl_router_container_name }}.service
Wants=network-online.target
After=network-online.target
RequiresMountsFor=%t/containers

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
Type=notify
NotifyAccess=all
Restart=on-failure
RestartSec=30
TimeoutStartSec=300
TimeoutStopSec=70
Delegate=yes
KillMode=mixed
ExecStartPre=/bin/rm \
        -f %t/%n.ctr-id
ExecStartPre=-/usr/bin/podman pull \
        {{ ssl_router_image_name }}:{{ ssl_router_image_version }}
ExecStart=/usr/bin/podman container run \
        --cidfile=%t/%n.ctr-id \
        --cgroups=split \
        --sdnotify=conmon \
        --replace \
        --name {{ _ssl_router_container_name }} \
        --pull=never \
        --network=host \
        --volume {{ ssl_router_base_dir }}/nginx.conf:/etc/nginx/nginx.conf:ro \
        {{ ssl_router_image_name }}:{{ ssl_router_image_version }}
ExecStop=/usr/bin/podman stop \
        --ignore -t 10 \
        --cidfile=%t/%n.ctr-id
ExecStopPost=/usr/bin/podman rm \
        -f \
        --ignore -t 10 \
        --cidfile=%t/%n.ctr-id

[Install]
WantedBy=multi-user.target
