{#-
Copyright © 2025 kogeler
SPDX-License-Identifier: Apache-2.0
-#}

version: '2.4'

services:

  ssl-router:
    image: {{ ssl_router_image }}:{{ ssl_router_image_version }}
    container_name: "ssl-router"
    restart: always
    ports:
      - {{ ssl_router_http_port }}:80
      - {{ ssl_router_https_port }}:443
    volumes:
      - "./nginx.conf:/etc/nginx/nginx.conf:ro"
    networks:
      - {{ ssl_router_docker_network_name }}
      - default

networks:
  {{ ssl_router_docker_network_name }}:
    external:
      name: {{ ssl_router_docker_network_name }}
