user  nginx;
worker_processes 2;

pid /var/run/nginx.pid;
error_log /dev/stdout warn;

events {
    worker_connections  4048;
    use epoll;
    multi_accept on;
}

http {
    sendfile on;
    tcp_nopush on;
    tcp_nodelay on;
    keepalive_timeout 65;
    types_hash_max_size 2048;

    include /etc/nginx/mime.types;
    default_type application/octet-stream;

    access_log off;

    gzip on;
    gzip_disable "msie6";

    # Default redirect to https
    server {
        listen 80 default_server;
        server_name _;
        return 301 https://$host$request_uri;
    }
}

stream {
    map $ssl_preread_server_name $name {
{% for key, value in ssl_router_upstream_map.items() | sort %}
        ~^{{ value.regex }}$    {{ key }};
{% endfor %}
        default              default;
    }

    upstream default {
        server 1.1.1.1:443;
    }

{% for key, value in ssl_router_upstream_map.items() | sort %}
    upstream {{ key }} {
        server {{ value.host | default(ansible_default_ipv4.address) }}:{{ value.port }};
    }
{% endfor %}

    server {
        listen      [::]:443;
        listen      443;
        proxy_pass  $name;
        ssl_preread on;
    }
}
