{#-
Copyright © 2025 kogeler
SPDX-License-Identifier: Apache-2.0
-#}

user  nginx;
worker_processes 2;

pid /var/run/nginx.pid;
error_log /dev/stdout warn;

events {
    worker_connections  4048;
    use epoll;
    multi_accept on;
}

http {
    server {
        listen      80 default_server;
        listen      [::]:80 default_server;
        server_name _;

        return 301 https://$host$request_uri;
    }
}

stream {
{% if ssl_router_acme_alpn_port %}
    map $ssl_preread_alpn_protocols $upstream {
        ~\bacme-tls/1\b      acme_solver;
        default              $name;
    }

{% endif %}
    map $ssl_preread_server_name $name {
{% for key, value in ssl_router_upstream_map.items() | sort %}
        ~^{{ value.regex }}$    {{ key }};
{% endfor %}
        default              reject;
    }

    upstream reject {
        server 0.0.0.1:1;
    }

{% if ssl_router_acme_alpn_port %}
    upstream acme_solver {
        server 127.0.0.1:{{ ssl_router_acme_alpn_port }};
    }

{% endif %}
{% for key, value in ssl_router_upstream_map.items() | sort %}
    upstream {{ key }} {
        server {{ value.host | default(ansible_facts['default_ipv4']['address']) }}:{{ value.port }};
    }
{% endfor %}

    server {
        listen      [::]:{{ ssl_router_https_port }};
        listen      {{ ssl_router_https_port }};
        proxy_pass  {% if ssl_router_acme_alpn_port %}$upstream{% else %}$name{% endif %};
        proxy_connect_timeout 1s;
        ssl_preread on;
        
        preread_buffer_size {{ ssl_router_preread_buffer_size }};
        proxy_buffer_size {{ ssl_router_proxy_buffer_size }};
    }
}
